body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #34495e;
    font-size: 20px;
}

.header {
    background-image: url('https://images.unsplash.com/photo-1556726307-09a5d69f2cd8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
    background-size: 10000px;
    background-repeat: no-repeat;
    padding-top: 28px;
    color: white;
}

.header-heading {
    padding: 56px 0;
}

.main-heading {
    text-align: center;
}

.main-subheading {
    margin-top: 48px;
    margin-bottom: 0px;
}

.main-content {
    padding: 0 40px;
    margin-bottom: 100px;
}

.header-heading {
    padding: 50px;
}

.nav {
    text-align: right;
    font-size: 20px;
}

.nav-item {
    color: white;
    text-decoration: underline;
    padding-right: 12px;
}

.footer-center {
    text-align: center;
}