body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #34495e;
    font-size: 20px;

}

.header {
    background-image: linear-gradient(to bottom right, red, yellow);
    background-size: auto;
    background-repeat: no-repeat;
    padding-top: 28px;
    color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-heading {
    padding: 56px 0;
    margin-left: 20px;
}

.nav {
    text-align: right;
    font-size: 20px;
}

.nav-item {
    color: white;
    text-decoration: underline;
    padding-right: 12px;
}

.embed-div {
    text-align: center;
}

.master-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-div {
    text-align: left;
    padding-left: 400px;
    align-content: center;
    padding-bottom: 100px;
}

.mypic-div {
    text-align: right;
    padding-right: 400px;
    padding-bottom: 300px;
    align-content: center;
    justify-content: center;
}

.mypic-img {
    margin-top: 60%;
    margin-left: 10%;
    height: 222px;
    width: 220px;
    border-radius: 50%;
}

.projects-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-div {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.social-icon {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.footer-center {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, red, yellow);
}

.footer-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-span {
    color: red;
}